@charset "UTF-8";

	.h1em-size{
		font-size: 3em;
	}
	.pem-size{
		font-size: 1em;
	}
	.accent{
		font-variant: small-caps;
		font-weight: bold;
	}
	.txt{
		font-style: italic;
	}
	.txt1{
		font-style: normal;
	}
	.txt2{
		font: italic 12px/24px 돋움;
	}